{% extends 'projects/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:'F d, Y' }}</small>
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
                </div>
                {% endif %}
            </div>
            <img class="img-thumbnail article-img" src="{{ object.image.url }}" >
            <p class="article-content">{{ object.description }}</p>
        </div>
    </article>
{% endblock content %}
