{% extends 'projects/base.html' %}

{% block content %}
   
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ object.image.url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">
                        {{ object.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- HERE -->
    <!-- STOP HERE -->
    <div class="review-div">
        <h5 class="font-weight-bold">Write Your Review</h5> 
        <form class="review-form" action="{% url 'review' %}" method="get">
            <input type="hidden" name="proj_id" id="proj_id" value="{{ object.id }}">
            <div class="form-group">
                <textarea name="comment" id="input" cols="30" rows="10" placeholder="Write Your Review"></textarea>
            </div>
            <div class="form-group">
                <div class="input-rating">
                    <div class="rating-wrapper">
                        <h6 class="font-weight-bold">Your Design Rating</h6>
                        <label for="star-1">1</label>
                        <input type="radio" name="design_rate" id="star-1" value="1">
                        <label for="star-2">2</label>
                        <input type="radio" name="design_rate" id="star-2" value="2">
                        <label for="star-3">3</label>
                        <input type="radio" name="design_rate" id="star-3" value="3">
                        <label for="star-4">4</label>
                        <input type="radio" name="design_rate" id="star-4" value="4">
                        <label for="star-5">5</label>
                        <input type="radio" name="design_rate" id="star-5" value="5">
                    </div>
                    <h6 class="font-weight-bold">Your Contetn Rating</h6>
                    <div class="rating-wrapper">
                        <label for="star-1">1</label>
                        <input type="radio" name="content_rate" id="star-1" value="1">
                        <label for="star-2">2</label>
                        <input type="radio" name="content_rate" id="star-2" value="2">
                        <label for="star-3">3</label>
                        <input type="radio" name="content_rate" id="star-3" value="3">
                        <label for="star-4">4</label>
                        <input type="radio" name="content_rate" id="star-4" value="4">
                        <label for="star-5">5</label>
                        <input type="radio" name="content_rate" id="star-5" value="5">
                    </div>
                    <h6 class="font-weight-bold">Your Usability Rating</h6>
                    <div class="rating-wrapper">
                        <label for="star-1">1</label>
                        <input type="radio" name="usability_rate" id="star-1" value="1">
                        <label for="star-2">2</label>
                        <input type="radio" name="usability_rate" id="star-2" value="2">
                        <label for="star-3">3</label>
                        <input type="radio" name="usability_rate" id="star-3" value="3">
                        <label for="star-4">4</label>
                        <input type="radio" name="usability_rate" id="star-4" value="4">
                        <label for="star-5">5</label>
                        <input type="radio" name="usability_rate" id="star-5" value="5">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}
